* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* sin scroll */
	/* position: fixed; */
	/* top: 0;
	bottom: 0;
	left: 0;
	right: 0; */
	font-family: 'IBM Plex Sans', sans-serif;
	opacity: 1;
}
body {
	padding: 100px;
}

.card {
	margin-top: 150px;
	max-width: 56.125rem;
	min-height: 13.75rem;
	/* text-align: center; */
	border: 1px solid #f2f2f2;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 3px;
}

/* HEADER */
.card .card-header {
	background-color: #6f2fd3;
	width: 56.188rem;
	height: 5rem;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding: 0.625rem; */
}
.card .card-header p {
	font-size: 0.875rem;
}

.card-header-left {
	display: flex;
	text-align: left;
	align-items: center;
  margin-left: 1.5rem;
	/* border: 1px solid tomato; */
	/* margin-left: -5rem; */
}
.card-img-container {
	width: 2.6rem;
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 1px;
	margin-right: 15px;
	/* border: 1px solid tomato; */
}
.card-header .card-header-left .card-img-container img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.card-header .card-header-left .card-header-name {
	font: normal normal medium 22px/38px IBM Plex Sans;
	letter-spacing: -0.55px;
}
.card-header .card-header-left .card-header-email {
	font: normal normal medium 14px/38px IBM Plex Sans;
	letter-spacing: -0.022rem;
}
.card-header-right {
	margin-right: 1.5rem;
	text-align: end;
	/* border: 1px solid tomato; */
}
.card-header .card-header-right.card-header-date {
	font: normal normal medium 14px/38px IBM Plex Sans;
}
.card-header .card-header-right .card-header-number {
	font: normal normal medium 12px/38px IBM Plex Sans;
	font-size: 0.75rem;
	letter-spacing: -0.3px;
}
/* BODY CARD */
.card-body {
	margin:  1.5rem;
	height: 45%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	letter-spacing: -0.022rem;
	color: #3f4f66;
	/* border: 1px solid greenyellow; */
}

.card-body .card-body-start {
	display: flex;
	justify-content: space-between;
	align-items: initial;
	/* border: 1px solid blue; */
}

.card-body .card-body-end {
	display: flex;
	justify-content: space-between;
	/* border: 1px solid tomato; */
	margin-top: 0.5rem;
}

.card-body .card-body-start .card-body-date {
	color: #6f2fd3;
	text-align: left;
	letter-spacing: -0.022rem;
	font: normal normal bold 14px/38px IBM Plex Sans;
}

.card-body .card-body-start .card-body-ap {
	color: #6f2fd3;
	text-align: left;
	letter-spacing: -0.022rem;
	font: normal normal medium 14px/20px IBM Plex Sans;
}
.card-body .card-body-start .card-body-info-status {
	/* border: 1px solid tomato; */
	/* padding: auto; */
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-around;
}
.card-body .card-body-start .card-body-info-status .card-body-status {
	color: #ffab48;
}

.card-body .card-body-start .card-body-info-date {
	font: normal normal medium 14px/38px IBM Plex Sans;
}

.card-body .card-body-end .card-body-info-status {
	/* border: 1px solid tomato; */
	/* padding: auto; */
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-around;
}
