* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* sin scroll */
	/* position: fixed; */
	/* top: 0;
	bottom: 0;
	left: 0;
	right: 0; */
	font-family: 'IBM Plex Sans', sans-serif;
	opacity: 1;
}

.card {
	margin-top: 150px;
	max-width: 56.125rem;
	min-height: 13.75rem;
	/* text-align: center; */
	border: 1px solid #f2f2f2;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 3px;
}

.card .card-header {
	background-color: #6f2fd3;
	width: 56.188rem;
	height: 5rem;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.625rem;
}

.card .card-header p {
	font-size: 14px;
}

.card-header-nombre {
	font: normal normal medium 22px/38px IBM Plex Sans;
  letter-spacing: -0.55px;
}

.card-header-email {
  font: normal normal medium 14px/38px IBM Plex Sans;
letter-spacing: -0.35px;
}

.card-header-right {
	margin-right: 1rem;
	margin-left: 0;
	text-align: end;
	border: 1px solid tomato;
}

.card-header-left {
  display: flex;
	text-align: left;
  align-items: center;
	border: 1px solid tomato;
	/* margin-left: -5rem; */
}

.card-img-container {
	width: 2.5rem;
	height: 100%;
  display: flex;
  align-items: center;
	margin-left: 1px;
  margin-right: 15px;
	border: 1px solid tomato;
}

img {
  width: 2.5rem;
  height: 2.5rem;
	border-radius: 50px;
}


/* BODY CARD */
.card-body {
  margin: 10px;
  height: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid tomato;
  justify-content: space-around;
}

.card-body-start {
  display: flex;
  justify-content: space-between;
}

.card-body-end {
  display: flex;
  justify-content: space-between;
}

.date {
  color: #6f2fd3;
  text-align: left;
  letter-spacing: -0.35px;
  font: normal normal bold 14px/38px IBM Plex Sans;
}