* {
    /* para que el elemento sea del tamaño de la ventana */
    /* suma el padding con el width del elemento */
    box-sizing: border-box;
    /* se quitan los bordes */
    padding:0;
    margin:0;
}