/* reseta los estilos */
body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}
a {
	/* se le quita la linea de decoracion de los links */
	text-decoration: none;
	cursor: pointer;
}

/* HEADER */
header {
	/* ocupa todo el ancho de la vista */
	width: 100%;
	height: 60px;
}
header nav {
	display: flex;
	/* poner items al lado derecho */
	justify-content: flex-end;
}
header nav .nav-right-section {
	width: 250px;
	height: auto;
	/* posicionar los elementos del menu(nav) */
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
}
nav .nav-right-section a {
	margin-right: 10px;
	color: black;
}
/* icono del menu */
nav .nav-right-section .menu-icon {
	background-image: url('https://static.thenounproject.com/png/756729-200.png');
	/* para no repetirse en caso de llenarse el espacio */
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 25px;
	height: 25px;
}
/* imagen de perfil */
nav .nav-right-section img {
	border-radius: 50px;
	margin-left: 10px;
}

/* MAIN */
/* centrando los elementos */
main {
	margin-top: 150px;
	text-align: center;
}
/* estilo contenedor del logo */
main .main-logo {
	width: 530px;
	margin: 0 auto;
	margin-bottom: 35px;
}
/* tamaño de la imagen del logo */
main .main-logo img {
	width: 300px;
}
/* input estilos */
main .main-input {
	width: 530px;
	margin: 0 auto;
	margin-bottom: 35px;
}
/* conteneedor del input */
main .main-input-container {
	width: 525px;
	border-radius: 100px;
	border: 1px solid #dfe1e5;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* editamos el input */
main .main-input input {
	width: 450px;
	height: 40px;
	border: none;
	/* quita la linea azul del focus */
	outline: none;
}
main .main-input-container:hover {
	box-shadow: 0 1px 6px 0 #20212447;
	border-color: #dfe1e500;
}
/* iconos */
main .main-input .search-icon {
	background-image: url('https://img.icons8.com/android/24/000000/search.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 18px;
	height: 18px;
}
main .main-input .micro-icon {
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 18px;
	height: 18px;
	cursor: pointer;
}
/* botones */
main .main-buttons {
	width: 530px;
	margin: 0 auto;
}
main .main-buttons div {
	display: inline-block;
}
main .main-buttons button {
	height: 36px;
	background-color: #f2f2f2;
	border: 0;
	font-size: 14px;
	color: #f56368;
	border-radius: 5px;
	padding: 0 15px;
	cursor: pointer;
	/* separacion entre botones */
	margin-right: 15px;
}
main .main-buttons button:hover {
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px #000001;
	color: #222;
}
/* FOOTER */
footer {
	width: 100%;
	height: 5.2rem;
	/* posiciona al final de la pagina */
	position: absolute;
	bottom: 0;
	/* posicionamiento con grid (usar en la tarjeta de vacaciones) */
	display: grid;
	grid-template-columns: repeat(1, 2fr);
	align-items: center;
	font-size: 13px;
	background-color: #f2f2f2;
	border: 1px solid #e4e4e4;
}

footer ul {
	margin: 1rem;
	list-style: none;
	display: flex;
	padding-left: 0;
}

footer .footer-left {
  justify-self: center;
}
footer .footer-right {
  justify-self: center; ;
}
footer ul li a {
  margin: 0.6rem;
  color: #5f6368;
}